* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: white;

    background-color: rgba(0,0,0, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;

    font-size: 1.5rem;
}

/* Sub containers for layout */
.nav-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    padding: 1rem;
    transition: all 200ms ease-in-out;
}

.prod-btn {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    text-decoration: none;
    padding: 1rem;
}


/* Cart styling */
.cart {
    text-decoration: none;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}

.cart-img {
    margin-right: 0.5rem;
}

.cart-count {
    font-weight: bold;
    font-size: 1.2rem;
}

.logo,
.prod-btn,
.cart {
    transition: all 200ms ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}
