* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.nav {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
}

.logo {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    padding: 1rem;
    color: black;
    transition: all 200ms ease-in-out;
}

.logo:hover {
    transition: all 300ms ease-in-out;
    color: #39a65b;
    cursor: pointer;
}

.logo span {
    color: #39a65b;
}

.logo:hover span {
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;
    color: #000;
}

.prod-btn {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    text-decoration: none;
    padding: 1rem;
    color: black;
    transition: all 200ms ease-in-out;
}

.prod-btn:hover {
    transition: all 300ms ease-in-out;
    color: #39a65b;
    cursor: pointer;
}

.cart {
    text-decoration: none;
    color: black;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
}
