.landing {
    margin-top: 6rem;
    padding: 0rem 2rem;
}

.landing-text {
    color: white;
    height: 50rem;
    width: 100%;
    background-image: url("../assets/landing-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 15rem;
}

.landing h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.landing p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    max-width: 600px;
    font-weight: 400;
    opacity: 0.9;
}

.get-started-btn {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin: 2rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 2px white;
    color: white;
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.get-started-btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: white;
    transform: scale(1.05);
    color: black;
}